:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}
  
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: var(--text-color);
  font-size: 20px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
  position: relative;
}

.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.control .btn-next:active,
.control .btn-prev:active {
  color: var(--primary-color);
}

#volume {
  width: 40%;
  position: absolute;
  top: -100px;
  right: -50px;
  transform: rotate(270deg);
  background: #d3d3d3;
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.song-time {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

#curtime {
  margin-right: 4px;
}

#durtime {
  margin-left: 4px;
}

/* PLAYLIST */
.playlist {
  margin-top: 408px;
  padding: 12px;
  box-shadow: 0px 0px 40px -10px rgb(0 0 0 / 10%);
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}

/* MENU */
.menu-playlist {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 480px;
}

.menu-playlist-btn {
  display: flex;
  justify-content: space-around;
}

.list-song {
  width: 100%;
  background-color: #fff;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.list-song.active {
  background: var(--primary-color);
  color: #fff;
}

/* OPTION */
.overlay {
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 480px;
  position:fixed;
  opacity: 0.3 ;
  z-index: 2;
  background-color: #999;
  display: none;
}

.option-list {
  display: none;
  position: fixed;
  border: none;
  bottom: 0;
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  z-index: 3;
  animation: optionFade ease-in 0.2s;
}

.overlay.active,
.option-list.active {
  display: block;
}

.option-item {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  height: 40px;
  font-size: 16px;
}

.add-love-btn,
.download-song-btn {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}

.add-love-btn:active,
.download-song-btn:active {
  background-color: var(--primary-color);
}

.add-love-btn .icon-love {
  display: inline-block;
}

.add-love-btn .icon-delete {
  display: none;
}

@keyframes optionFade {
  from {
    transform: translateY(100%)
  }
  to {
    transform: translateY(0%)      
  }
}